@model IEnumerable<BanHang_DaoNgocHai.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categories.CateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brands.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.CateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brands.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProId })
        </td>
    </tr>
}

</table>
